
<head>
    <meta charset="UTF-8">
    <title>Dialpad</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

</head>
<div class="frame">
	<div class="center">
		<div class="title">
			<h1>Drop Audio file</h1>
		</div>
		<div class="dropzone">
			<form method="post" enctype="multipart/form-data">
			<img src="{{url_for('static', filename='upload.jpg')}}" class="upload-icon" />
			<input type="file" class="upload-input" name="file" />
			<input type="submit" class="button" value="convert"></input>
			</form>
			<a class="button2" href="#popup1">Result</a>
		</div>
		
	</div>
    
</div>

<div id="popup1" class="overlay">
	<div class="popup">
	<h2>Result</h2>
	<a class="close" href="#">&times;</a>
	<div class="content">
		{% if out != "" %}
            <p id="number">{{ out }}</p>
		{% endif %}
	</div>
</div>
</div>

